
__pycache__/
*.pyc
*.pyo
*.pyd


*.sqlite3


venv/
Pipfile.lock

.env


local_settings.py


.idea/
.vscode/


*.log


*.pyc


*.rsuser
*.pyc
*.pyo
*.pyd

.env
.env.local
.env.*.local


htmlcov/


*.mo

.DS_Store


Thumbs.db